<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ai.digitTeacher.mapper.MemoryStoreMapper">

    <insert id="insertOrUpdate" parameterType="com.ai.digitTeacher.entity.UserMessage">
        INSERT INTO chat_memory (memory_id, messages, updated_at)
        VALUES (#{memoryId}, #{messages}, NOW())
            ON DUPLICATE KEY UPDATE
                                 messages = #{messages},
                                 updated_at = NOW()
    </insert>
</mapper>
